/* Add application styles & imports to this file! */
body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
